
<!DOCTYPE html>
<html>
  <head>
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/shop-homepage.css" rel="stylesheet">
    <title>Shop Homepage -</title>
    <div class="navbar">
    <%= link_to 'Home', welcome_index_path %> </a>
    <a href="Home">Admin</a>
    <a href="Home">Sig-in</a>
    <a href="Home">logout</a>
    <%= link_to 'Add_cart_details', pens_path %> 
    CART:(<%= @pen.tquantity %> )
    (<%= @pen.tprice %>)
    </head>
  <body>
     </div>
</div>
    </div>
</div>
 
<%= link_to 'Continue_shoping', pices_path %> 

