
<!DOCTYPE html>
<html>
  <head>
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/shop-homepage.css" rel="stylesheet">
    <title>Shop Homepage -</title>
    <div class="navbar">
    <%= link_to 'Home', welcome_index_path %> </a>
    <a href="Home">Admin</a>
    <a href="Home">Sig-in</a>
    <a href="Home">logout</a>
    <%= link_to 'Add_cart_details', pens_path %> 
    </head>
  <body>
     </div>
</div>
    </div>

  <b>Price:</b>
<a><%= @pen.price %></td><br>
 
<p>
  <th><strong>Quantity:</strong></th>
   <td> <%= @pen.quantity %></td>
</p>
 
<p>
 <th> <strong>Total Amount:</strong></th>
<td>  <%= @pen.total %></td>
</p>

<%= link_to 'Empty Cart', [@pen],
               method: :delete  %>
<%= link_to 'Continue_shoping', pices_path %> 
<%= link_to 'Add_cart_details', pens_path %> 




