
<!DOCTYPE html>
<html>
  <head>
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/shop-homepage.css" rel="stylesheet">
    <title>Shop Homepage -</title>
    <div class="navbar">
    <%= link_to 'Home', welcome_index_path %> </a>
<%if user_signed_in? %>
<%= link_to current_user.email,edit_user_registration_path %></a> 
<%= link_to "Logout", destroy_user_session_path, method: :delete %>
<else>
  <%= link_to 'sign-up', new_user_registration_path %></a> 
 <%= link_to 'Login', new_user_session_path %></a>  
 <% end%>
 
    <%= link_to 'Add_cart_details', pens_path %> 
    CART:(<%= @pen.tquantity %> )
    (<%= @pen.tprice %>)
    </head>
  <body>
     </div>
</div>
    </div>
</div> 

 <b>Phone name:</b>
<a><%= @pen.phone %></a> <br>
<b>Price:</b>
<a><%= @pen.price %></td><br>
 <b> feautres:</b>
<td><%= @pen.description %></td><br>
<b>Phone_model:</b>
<td><%= @pen.mtype %></td>  </a></p>
<p>
  <th><strong>Quantity:</strong></th>
   <td> <%= @pen.quantity %></td>
</p>
 
<p>
 <th> <strong>Total Amount:</strong></th>
<td>  <%= @pen.total %></td>
</p>
<%= button_to 'Empty Cart', pen_path(@pen),
               method: :clear  %>               
            
<%= link_to 'Continue_shoping', pices_path %> 
<%= link_to 'Add_cart_details', pens_path %> 

