
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="navbar">
  <%= link_to 'Home', welcome_index_path%></a>
  <%= link_to 'Admin', articles_path %> </a>
  </div>
  </body>
<br><br><h1 align="center">baserbox.com</h1>
<body >
<div class="boxed" align="center">
<p align="center">
<h1>Edit Products Details</h1>
<body bgcolor="#eee">
  <%= form_for @article, url: articles_path, html: { multipart: true } do |form| %>
<%= form_with(model: @article) do |form| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited give valuable name:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
        <% end %>
       </ul>
       </div>
       <% end %>
 
      <p>
    <%= form.label :Products %><br>
    <%= form.text_field :title %>
     </p>
 
  <p>
    <%= form.label :Type %><br>
    <%= form.text_area :text %>
  </p>
 
  <p>
    <%= form.label :image %><br>
    <%= form.file_field :image %>
  </p>
  <p>
    <%= form.submit "Update Products" %>
  </p>
 
<% end %>
 <% end %>
<%= link_to 'Back', articles_path %>    
</div>
</body>
<html>
