
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<div class="navbar">
  <a href="#home"><%= link_to 'Home', welcome_index_path%></a>
  <a href="#Products"><%= link_to 'Admin', articles_path %>	</a>
  <%= link_to 'Mobile', new_pice_path %> 
  </div>
<br><br><h1 align="center">baserbox.com</h1><br><br>
<body>
<div class="boxed" align="center">
<p align="center">

<h1>New Products</h1>

<%= form_for @article, url: articles_path, html: { multipart: true } do |form| %>

  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this Data from being saved:
      </h2>
      <ul>
      <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= form.label :product%><br>
    <%= form.text_field :title %>
  </p>


  <p>
    <%= form.label :text%><br>
    <%= form.text_field :text %>
  </p>

  <p>
    <br>
    <%= form.file_field :image %>
  </p>

  <p>
    <%= form.label :Price%><br>
    <%= form.text_field :text %>
  </p>
  <br>

  <p>
    <%= form.label :Describtion%><br>
    <%= form.text_area :text %>
  </p>
<br>
  <br>
  <p>
    <%= form.submit "Add new Products" %>
  </p>
<%end%>
<%= link_to 'Back', articles_path %> 
</div>
</body>
<html>




