
<html>
<head>
</head>
<body>
<div class="navbar">
  <%= link_to 'Home', welcome_index_path%></a>
  <%= link_to 'Admin', articles_path %>	</a>
  <%= link_to 'Mobile', pices_path %> </a>
<%if user_signed_in? %>
<%= link_to current_user.email,edit_user_registration_path %></a> 
<%= link_to "Logout", destroy_user_session_path, method: :delete %>
<else>
  <%= link_to 'sign-up', new_user_registration_path %></a> 
 <%= link_to 'Login', new_user_session_path %></a>  
 <% end%>
 
<%= form_tag(articles_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search products" %>
<%= submit_tag "Search" %>
<% end %>
  </div> 
  </body>
<br><br><h1 align="center">baserbox.com</h1><br><br><br><br><br>
</body>
<html>
