
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.navbar {
    overflow: hidden;
    background-color: #88cc00;
    font-family: Arial;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: green;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #88cc00;
}

.dropdown:hover .dropdown-content {
    display: block;
}
</style>
</head>
<body>

<div class="navbar">
  <%= link_to 'Home', welcome_index_path%></a>
  <%= link_to 'Admin', articles_path %>	</a>
  
<%if user_signed_in? %>
<%= link_to current_user.email,edit_user_registration_path %></a> 
<%= link_to "Logout", destroy_user_session_path, method: :delete %>
<else>
  <%= link_to 'sign-up', new_user_registration_path %></a> 
 <%= link_to 'Login', new_user_session_path %></a>  
  <% end%>
  
<div class="dropdown">
    <button class="dropbtn">Catogories 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Mobile</a>
      <a href="#">Electronics</a>
      <a href="#">Cloths</a>
    
    </div>


 


  </div> <br>
<input type="text" placeholder="Search..."></div>





  </body>
<br><br><h1 align="center">baserbox.com</h1><br><br><br><br><br>

</body>
<html>
