
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<div class="navbar">
  <a href="#home"><%= link_to 'Home', welcome_index_path%></a>
  <a href="#Products">admin</a>
  <a href="#">Reviews</a>
  <a href="#news">sign-up</a>  
<div class="dropdown">
    <button class="dropbtn">Catogories 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Mobile</a>
      <a href="#">Electronics</a>
      <a href="#">Cloths</a>
    </div>


  </div> <br>
<input type="text" placeholder="Search..."></div>

 


  </body>
<br><br><h1 align="center">baserbox.com</h1><br><br><br><br><br>


<body >
<div class="boxed" align="center">
<p align="center">

<h1>Edit Products Details</h1>


<body bgcolor="#eee">
  <%= form_for @pice, url: pices_path, html: { multipart: true } do |form| %>
    <%= form_with (model: @pice) do |form| %>

 
<% if @pice.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@pice.errors.count, "error") %> prohibited
        this mobile from being saved:
      </h2>
      <ul>
        <% @pice.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
       </div>
       <% end %>
 
              <%= pice.phone %>
                 <%= pice.mtype %>
                 <%= pice.price %> 
                  <p><%= form.submit "Add To cart" %></p>     
 
<%= link_to 'Back', pices_path %>    
<% end %>
<% end %>
</div>
</body>
<html>
