<!DOCTYPE html>
<html>
  <head>
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/shop-homepage.css" rel="stylesheet">
    <title>Shop Homepage -</title>
    <div class="navbar">
    <%= link_to 'Home', welcome_index_path %> </a>
    <a href="Home">Admin</a>
    <a href="Home">Sig-in</a>
    <a href="Home">logout</a>
    <%= link_to 'Add_cart_details', pens_path %> 

<%= form_tag(pices_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Pices" %>
<%= submit_tag "Search" %>
<% end %>
</head>
  <body>
     </div>
</div>
    </div><table>
     <% @pices.each do |pice| %>
      <div class="row">
      <div class="col-lg-4 col-md-6 mb-4">
      <div class="card h-100">
      <a href="#"><img class="card-img-top" src="image" alt=""></a>
      <div class="card-body">
      <h4 class="card-title">
      <a>
       <%= pice.phone %></a>
      </a>
      </h4>
      <h5><%= pice.price %></h5>
      <p class="card-text"><%= pice.description %></p>
       <%= pice.mtype %>
       </div>
        <div class="card-footer" >                
       <%= link_to 'buy', pice_path(pice) %></table>
        </div>    
      </div>    
    </div>    
      </div>
        </footer>

<% end %>

  </body>
</html>               
<%= will_paginate @pices %>
                  

           
     


